@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

  .title {
    display: flex;
    position: absolute;
    margin-top: 35%; 
    color: white;
    margin-left: 29%;
    font-family: "EB Garamond";
    font-weight: 600;
    line-height: 8.125rem;
    font-size: 7.8vw;
    text-align: right;
  }
