@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

.home-container {
    width: 100vw;
    height: 100vw;
    /*height: 100%;
    background: linear-gradient(180deg, rgba(148, 95, 128, 0.8) 0%, rgba(16, 7, 29, 0.8) 100%), #3F132E;*/
    display: flex;
    position: relative;
 }
 .background {
    width: 100vw;
    height: 500vw;
    background: linear-gradient(180deg, #661949 0%, #10071D 100%), #3F132E;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    z-index: 5;
 }
 
 .ellipse1{
    background: #AA3864;
    filter: blur(5.625rem);
    opacity: 60%;
    width: 35rem;
    height: 40rem;
    border-radius: 100%;
    position: absolute;
    margin-left: 600px;
    top: 734px;
 }
 .above {
   position: absolute;
   z-index: 10;
 }
 .below {
   position: absolute;
   z-index: 5;
 }
 .bottom {
   position: absolute;
 }
 
 .ellipse2{
    background: #F07D72;
    opacity: 20%;
    filter: blur(3.5rem);
    width: 20.625rem;
    height: 20.625rem;
    border-radius: 100%;
    position: absolute;
    margin-left: 600px;
    top: 734px;
 }
 .ellipse3{
   background: #381F38;
   filter: blur(5rem);
   width: 20.625rem;
   height: 20.625rem;
   border-radius: 100%;
   position: absolute;
   top: 50px;
   margin-left: 1px;
}
.ellipse4{
   background: rgba(212, 156, 178, 0.6);
   filter: blur(5.5rem);
   opacity: 60%;
   width: 23.625rem;
   height: 23.625rem;
   border-radius: 100%;
   position: absolute;
   top: 2000px;
   margin-left: 800px;
}
.ellipse5{
   background: #1D132B;
   filter: blur(5.5rem);
   width: 20.625rem;
   height: 25.625rem;
   border-radius: 100%;
   position: absolute;
   top: 2500px;
   margin-left: 1px;
}
.ellipse6{
   background: rgba(227, 101, 47, 0.23);
   filter: blur(4rem);
   width: 20.625rem;
   height: 20.625rem;
   border-radius: 100%;
   position: absolute;
   top: 70px;
   margin-left: 1px;
}
 .wrapper {
    z-index: 1;
    position: absolute;
 }
 
 .spec-logo {
    justify-content: center;
    display: flex;
    align-items: center;
    margin-top: 3.813rem;
    margin-bottom: 1.75rem;
 }
 .img {
    display: block;
 }
 .line {
    width: 93.75%;
    height: 0.063rem;
    background-color: white;
    margin-bottom: 3.75rem;
    align-self: center;
 }
 .wrapper {
   display: flex;
 }
 .photo {
   display: flex;
   width: 72%;
   height: auto;
   margin-left: 7.3%;
   position: relative;
 }
 .title {
   display: flex;
   position: absolute;
   margin-top: 35%; 
   color: white;
   margin-left: 29%;
   font-family: "EB Garamond";
   font-weight: 600;
   line-height: 8.125rem;
   font-size: 6.25rem;
   text-align: right;
 }
 .body {
   margin-top: 3.75rem;
   color: white;
 }
 
 